#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.skilltitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.skilldescription {
  font-size: 0.9rem;
  font-weight: 300;
  max-width: 50rem;
  padding: 0 2rem;
}
.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.skillBarimg {
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  margin-right: 2rem;
}
.skillBartxt p {
  font-size: 0.75rem;
  font-weight: 100;
}

@media screen and (max-width: 720px) {
  .skillBartxt p {
    font-size: 2vw;
  }
  .skillBarimg {
    height: 2.25rem;
    width: 2.25rem;
  }
  .skillBartxt h2 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .skillBartxt p {
    font-size: 3vw;
  }
}
